In [21]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 4.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.5
Note: you may need to restart the kernel to use updated packages.

In [31]:
engine = create_engine('postgresql://root:root@pgdatabase:5432/ny_taxi')

In [33]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1